.main {
  text-align: center;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 3.75em;
  display: flex;
  flex-direction: column;
}

.main__content {
  display: flex;
  gap: 2em;
  align-items: stretch;
  height: 100%;
}

.main__content nav {
  max-width: 20%;
  padding: 1em 2em;
  border: 1px solid black;
}

.main__content main {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

@media screen and (max-width: 1200px) {

  .main__content {
    flex-direction: column;
  }

  .main__content nav {
    max-width: 100%;
  }
}