.film {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    border: 1px solid black;
    min-width: 200px;
}

.film__info {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 20vw;
}

.film__description {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: left;
}

.film__title {
    margin: 0;
}

.film__id {
    width: 5em;
    height: 5em;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
  
    .film__info {
        width: 100%;
    }
  }