.film-list__list {
    display: flex;
    align-items: stretch;
    gap: 4em;
    list-style-type: none;
    overflow: scroll;
    padding: 0 0 1em;
    margin: 0;
}

.film-list__film {
    height: 100%;
}

@media screen and (max-width: 1200px) {
  
    .film-list__list {
        gap: 2em;
    }
  }