.nav-bar {
    height: 100%;
    width: 100%;
}

.nav-bar__header { 
    margin-top: 0;
}

.nav-bar__links {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 1em;
}

.nav-bar__links a {
    text-decoration: none;
}

.nav-bar__links a:visited {
    color: black;
}

.nav-bar__link_choosed {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
  
    .nav-bar__links {
        flex-direction: row;
        gap: 1em;
    }
  }